<div class="container mt-5">

  <h2 class="mb-4">
    {{ categoryName() ? categoryName() + ' Products' : 'Products' }}
  </h2>

  @if (message()) {
    <div
      class="alert"
      [class.alert-success]="messageType() === 'success'"
      [class.alert-danger]="messageType() === 'error'">

      {{ message() }}

    </div>
  }
  <div class="row g-4">

    @for (product of products(); track product.id) {

      <div class="col-sm-6 col-lg-4">

        <div class="product-card h-100" [routerLink] = "['/products', product.id]">

          <div class="product-image">
            <img [src]="product.imageUrl" [alt]="product.name">
          </div>

          <div class="product-content">

            <h5 class="product-title">
                {{ product.name }}
            </h5>

            <p class="product-description">
              {{ product.description }}
            </p>

            <div class="product-info">

              <div>
                <div class="product-price">
                  ₹{{ product.price }}
                </div>

                <div class="product-stock">
                  Available: {{ product.quantity }}
                </div>
              </div>

              <button class="btn btn-primary" (click)="$event.stopPropagation(); addToCart(product.id)">

                @if (addedProductId() === product.id) {
                  ✓ Added
                } @else {
                  Add to Cart
                }
              </button>

            </div>

          </div>

        </div>

      </div>

    }

  </div>

</div>