<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">

      @if(message()){
        <div class="alert" [class.alert-success] ="messageType() == 'success'" [class.alert-danger] = "messageType() == 'error'" >
          {{message()}}
        </div>
      }
      <h2 class="text-center mb-4">Login</h2>

      <form [formGroup]="loginForm" (ngSubmit)="login()">

        <div class="mb-3">
          <label for="username" class="form-label">Username</label>

          <input id="username" type="text" class="form-control" formControlName="username">

          @if (loginForm.controls.username.touched && loginForm.controls.username.hasError('required')) {
            <div class="text-danger">
                Username is required
            </div>
            }

        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>

          <input id="password" type="password" class="form-control" formControlName="password">

          @if (loginForm.controls.password.touched &&loginForm.controls.password.hasError('required')) {
            <div class="text-danger">
                Password is required
            </div>
            }

         @if (loginForm.controls.password.touched && loginForm.controls.password.hasError('minlength')) {
            <div class="text-danger">
                Password must be atleast 6 characters
            </div>
            }
        </div>

        <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">
          Login
        </button>

        <div class="text-center mt-3">
          <span class="text-muted">Don't have an account?</span>
          <a routerLink="/register" class="ms-1">
          Register
          </a>
        </div>

      </form>

    </div>
  </div>
</div>
